img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
hr {
    position: relative;
    top: 20px;
    border: none;
    height: 5px;
    background: black;
    margin-bottom: 50px;
}   
