img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
hr {
    position: relative;
    top: 20px;
    border: none;
    height: 5px;
    background: black;
    margin-bottom: 50px;
}   
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    max-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}
